.not-found-component{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.not-found-component img {
    width: 25%;
    height: auto;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 20rem;
    font-weight: 600;
    color: #1D3557;
    margin: 0
}

.subtitle{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 600;
    color: #1D3557;
    text-align: center;
    margin: 0;
}

.not-found-component a {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: #457B9D;
}