.login-main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-info-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    /* background-color: blue; */
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding-left: 8%;
    /* background-color: aquamarine; */
}

.logo-image-login {
    width: 20%;
    height: 20%;
    flex-shrink: 0;
}

.logo-image-register {
    width: 20%;
    height: 20%;
    flex-shrink: 0;
}

.logo-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo-title {
    display: flex;
    width: fit-content;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 1%;
    color: #1D3557;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* background-color: #457B9D; */
}

.logo-subtitle {
    width: 70%;
    height: 48px;
    flex-shrink: 0;
    padding-left: 1%;
    color: #1D3557;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* background-color: antiquewhite; */
}

.login-page-text-content {
    margin-top: 5%;
    margin-left: 18%;
}

.login-page-text-title {
    color: #1D3557;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-page-text-subtitle {
    color: #1D3557;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    height: 100vh;
    gap: 7px;
    /* background-color: #E63946; */
}

.form-error-message{
    /* background-color: blue; */
    width: 70%;
    margin-top: 0.2%;
    margin-bottom: 1.5%;
    font-size: 16px;
    padding-left: 0.9rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    background-color: #f19ea5;
    color: #f01527;
}

.register-form-camp{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 5%;
    /* background-color: chocolate; */
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90px;
    margin-bottom: 1.5%;
    /* background-color: crimson; */
}

.input-container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 27px) scale(1.2);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: white;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
}

.input-container:focus-within label {
    transform: translate(0, -9px) scale(1.2);
    background-color: white;
    color: #0a53e4;
}

.input-container:focus-within input {
    border: 0.5px solid #0a53e4;
}

.input-container .filled {
    transform: translate(0, -9px) scale(1.2);
}

.input-container input {
    height: 75px;
    border-radius: 4px;
    border: 0.5px solid #1D3557;
    padding: 24px 16px 4px 16px;
    font-size: 19px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container p{
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    font-size: 16px;
    color: #E63946;
}

.button-component {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
}

.login-button {
    width: 100%;
    border-radius: 10px;
    border: 0px;
    background: #1D3557;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-button:disabled {
    background: #1D3557;
    opacity: 0.7;
}

.login-button:active {
    background: #172d4b;
}

.link-to-register-button {
    width: 100%;
    border-radius: 10px;
    border-color: #457B9D;
    background: #457B9D;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register-button {
    width: 100%;
    border-radius: 10px;
    background: #1D3557;
    height: 45px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register-button:disabled {
    background: #1D3557;
    opacity: 0.7;
}

.register-button:active {
    background: #172d4b;
}

.link-to-login-button {
    width: 100%;
    border-radius: 10px;
    border-color: #457B9D;
    background: #457B9D;
    height: 45px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}